#include <stdio.h>


int main(){


int abc;

printf("3 basamaklı sayı giriniz: ");
scanf("%d",&abc);
int cba=0;
for (int i = 0; i < 3; i++)
{   
    cba+=abc%10;  
    if(i==2)break; else cba*=10; 
    abc /= 10;
   
}
printf("%d",cba);



    return 0;
}
